<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 스프링부트 기본 설정 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- Root Logger: 기본 콘솔 출력 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- ERROR LEVEL APPENDER -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app/error.log</file>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>originalEvent</includeMdcKeyName>
            <includeMdcKeyName>throwableClass</includeMdcKeyName>
            <includeMdcKeyName>throwableMessage</includeMdcKeyName>
            <includeMdcKeyName>throwableType</includeMdcKeyName>
            <includeMdcKeyName>rootCause</includeMdcKeyName>
            <includeMdcKeyName>stackTrace</includeMdcKeyName>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app/%d{yyyy-MM-dd}-error.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- WARN LEVEL APPENDER -->
    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app/warn.log</file>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>originalEvent</includeMdcKeyName>
            <includeMdcKeyName>throwableClass</includeMdcKeyName>
            <includeMdcKeyName>throwableMessage</includeMdcKeyName>
            <includeMdcKeyName>throwableType</includeMdcKeyName> <!-- 값: subtype of Throwable -->
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app/%d{yyyy-MM-dd}-warn.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- LOGGER -->
    <logger name="com.example.mohago_nocar" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ERROR_FILE" />
        <appender-ref ref="WARN_FILE" />
    </logger>

</configuration>